In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kavieng,-2.5744,150.7967,81.39,81,67,12.33,PG,2021-09-29 18:29:35
1,1,Beloha,-25.1667,45.0500,74.01,71,88,5.73,MG,2021-09-29 18:29:35
2,2,Pevek,69.7008,170.3133,27.52,87,100,21.83,RU,2021-09-29 18:29:35
3,3,Mataura,-46.1927,168.8643,42.48,99,98,6.89,NZ,2021-09-29 18:29:36
4,4,Nhulunbuy,-12.2333,136.7667,72.21,83,99,0.00,AU,2021-09-29 18:29:36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kavieng,-2.5744,150.7967,81.39,81,67,12.33,PG,2021-09-29 18:29:35
5,5,Dicabisagan,17.0818,122.4157,79.23,87,28,1.32,PH,2021-09-29 18:29:37
8,8,Ukiah,39.1502,-123.2078,77.13,45,1,0.00,US,2021-09-29 18:29:38
9,9,Wawa,9.9022,4.4192,75.70,88,76,4.74,NG,2021-09-29 18:29:38
10,10,Axim,4.8699,-2.2405,78.08,84,70,7.52,GH,2021-09-29 18:29:39
13,13,Atuona,-9.8000,-139.0333,77.65,75,55,20.96,PF,2021-09-29 18:29:40
16,16,Mahibadhoo,3.7833,72.9667,82.47,71,26,7.83,MV,2021-09-29 18:29:40
24,24,Arraial Do Cabo,-22.9661,-42.0278,76.96,83,40,11.50,BR,2021-09-29 18:29:43
25,25,Labuhan,-6.8844,112.2051,79.18,79,64,8.12,ID,2021-09-29 18:29:43
31,31,Kapaa,22.0752,-159.3190,79.12,74,75,5.99,US,2021-09-29 18:29:45

In [15]:
preferred_cities_df.count()

City_ID       182
City          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
Country       181
Date          182
dtype: int64

In [16]:
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kavieng,-2.5744,150.7967,81.39,81,67,12.33,PG,2021-09-29 18:29:35
5,5,Dicabisagan,17.0818,122.4157,79.23,87,28,1.32,PH,2021-09-29 18:29:37
8,8,Ukiah,39.1502,-123.2078,77.13,45,1,0.00,US,2021-09-29 18:29:38
9,9,Wawa,9.9022,4.4192,75.70,88,76,4.74,NG,2021-09-29 18:29:38
10,10,Axim,4.8699,-2.2405,78.08,84,70,7.52,GH,2021-09-29 18:29:39
...,...,...,...,...,...,...,...,...,...,...
569,569,Goure,13.9835,10.2704,76.01,74,100,9.13,NE,2021-09-29 18:32:51
570,570,Anloga,5.7947,0.8973,82.62,82,100,11.36,GH,2021-09-29 18:32:51
571,571,Aswan,24.0934,32.9070,87.10,19,0,9.22,EG,2021-09-29 18:32:51
573,573,Buluang,13.3068,123.3425,78.19,93,29,1.68,PH,2021-09-29 18:32:52
574,574,Pilar,-9.5972,-35.9567,78.73,77,85,8.84,BR,2021-09-29 18:32:52

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

            City Country  Max Temp      Lat       Lng Hotel Name
0        Kavieng      PG     81.39  -2.5744  150.7967
5    Dicabisagan      PH     79.23  17.0818  122.4157
8          Ukiah      US     77.13  39.1502 -123.2078
9           Wawa      NG     75.70   9.9022    4.4192
10          Axim      GH     78.08   4.8699   -2.2405
..           ...     ...       ...      ...       ...        ...
569        Goure      NE     76.01  13.9835   10.2704
570       Anloga      GH     82.62   5.7947    0.8973
571        Aswan      EG     87.10  24.0934   32.9070
573      Buluang      PH     78.19  13.3068  123.3425
574        Pilar      BR     78.73  -9.5972  -35.9567

[182 rows x 6 columns]

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotel = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kavieng,PG,81.39,-2.5744,150.7967,Nusa Island Retreat
5,Dicabisagan,PH,79.23,17.0818,122.4157,Nancy Montanes Bernardo
8,Ukiah,US,77.13,39.1502,-123.2078,Hampton Inn Ukiah
9,Wawa,NG,75.70,9.9022,4.4192,
10,Axim,GH,78.08,4.8699,-2.2405,Axim Beach Resort And Spa
...,...,...,...,...,...,...
569,Goure,NE,76.01,13.9835,10.2704,
570,Anloga,GH,82.62,5.7947,0.8973,Pin Drop Hotel
571,Aswan,EG,87.10,24.0934,32.9070,Nuba Nile
573,Buluang,PH,78.19,13.3068,123.3425,Enon Beach Resort
574,Pilar,BR,78.73,-9.5972,-35.9567,Pousada e churrascaria Manguaba

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))